@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Oceanic Airlines</h1>
    <p class="lead">Welcome!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Oceanic Airlines</h2>
        <p>
            Welcome!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in the tutorial series on the ASP.NET site.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
</div>