@using OceanicAirlines.Models
@{
    ViewBag.Title = "Search For Route";
}
@model Parcel
@Styles.Render("~/Content/css/SearchRoute.css")
<div class="col-lg-12">
    <div class="col-lg-2"></div>
    <div class="col-lg-6 search-box-form">
        <form>
            <div class="col-lg-6">
                <label id="OriginCityLabel">From</label>
            </div>
            <div class="col-lg-6">
                <label id="DestinationCityLabel">To</label>
            </div>
            <br />

            <div class="col-lg-4" id="bloodhound">
                <input class="typeahead" id="OriginCity" name="OriginCity" type="text" placeholder="Search...">
            </div>
            <div class="col-lg-6" id="bloodhound2">
                <input class="typeahead" id="DestinationCity" name="DestinationCity" type="text" placeholder="Search...">
            </div>
            <br />
            <br />
            <div class="col-lg-6">
                <label id="WeightLabel">Weight</label>
                <br />
                <input type="text" id="Weight" name="Weight" value="" />
                <br />
                <label id="DiscountLabel">Discount</label>
                <br />
                <input type="number" id="Discount" name="Discount" value="" />
                <br />
                <label id="ParcelTypeLabel">Parcel Type</label>
                <br />
                @Html.DropDownList("ParcelType",
                    new SelectList(Enum.GetValues(typeof(ParcelType))),
                    "Select",
                    new { @class = "form-control" })
            </div>
            <div class="col-lg-6">
                <label id="XLabel">X [cm]</label>
                <br />
                <input type="number" id="XInput" name="XInput" value="" />
                <br />
                <label id="YLabel">Y [cm]</label>
                <br />
                <input type="number" id="YInput" name="YInput" value="" />
                <br />
                <label id="ZLabel">Z [cm]</label>
                <br />
                <input type="number" id="ZInput" name="ZInput" value="" />
                <br />
                <br />
                <br />
            </div>
            <button type="submit" class="btn submit-button">SEARCH</button>
        </form>
    </div>
    <div class="col-lg-2"></div>
</div>
<h3>@ViewBag.Message</h3>


<p>Use this area to provide additional information.</p>
<h3>@ViewBag.FinalResults</h3>