@using OceanicAirlines.Models
@{
    ViewBag.Title = "Search For Route";
}
@model OceanicAirlines.ViewModels.SearchRouteViewModel
@Styles.Render("~/Content/css/SearchRoute.css")

@Scripts.Render("~/bundles/SearchRoute")

<h3>@ViewBag.Message</h3>
