body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.search-box-form {
    background-color: #C4C4C4;
    margin: 10% auto 0 auto;
    padding: 1em 0 0 0;
    height: 25em;
    width: 50em;
    display: block;
}

#Weight, #Discount, bloodhound {
    margin: 0 0 0 2em;
}

#bloodhound2 {
    float: right;
}

#bloodhound {
    margin: 0 0 0 1em;
}

#WeightLabel {
    margin: 0 0 0 1em;
}

.typeahead, ::placeholder {
    width: 30em;
    color: #E5E5E5;
    font-family: Roboto, Arial;
    height: 4em;
}

input[type="text"], input[type="number"], textarea {
    background: #000000;
    height: 4em;
}

label {
    font-weight: 100;
}

::placeholder {
    padding-left: 2em;
}

.submit-button {
    float: right;
    margin-right: 4em;
    background-color: black;
    color: white;
}